<!--
<table class="listOfProductsTable">
  <tr>
    <th>Article Number</th>
    <th>Name</th>
    <th>Year of Publication</th>
    <th>Price</th>
    <th>Edit</th>
  </tr>
  <tr *ngFor="let product of products">
    <td>{{ product.articleNumber }}</td>
    <td>{{ product.name }}</td>
    <td>{{ product.yearOfPublication | date: 'short' }}</td>
    <td>{{ product.price }}</td>
    <td>
      
      <button
      type="button"
      id="editProduct"
      class="button"
      (click)="onClickProductEdit(product.id, $event)"
      mat-button
      >
      <mat-icon>edit</mat-icon>
      </button>
    </td>
  </tr>
</table>
-->


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>Article Number</th>
    <td mat-cell *matCellDef="let element">{{ element.articleNumber }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef>Weight</th>
    <td mat-cell *matCellDef="let element">{{ element.yearOfPublication | date: 'short' }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef>Symbol</th>
    <td mat-cell *matCellDef="let element">{{ element.price }}</td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef>Edit</th>
    <td mat-cell *matCellDef="let element">
      <button
      type="button"
      id="editProduct"
      class="button"
      (click)="onClickProductEdit(element.id, $event)"
      mat-button
      >
      <mat-icon>edit</mat-icon>
      </button>
    </td>
  
</ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>