.listOfProductsTable {
  border: 1px solid;
  width: 100%;
  height: 100%;
}

td {
  width: 25%;
  border-bottom: 1px solid;
}

.listOfProductsTable {
  background-color: #4c8bf5;
  color: #fff;
}

tr:first-child {
  background-color: #06388d;
  height: 40px;
}

tr {
 height: 50px;
}
