<form
  class="example-form"
  [formGroup]="createProductForm"
  *ngIf="createProductForm"
>

<!--
  <input
    formControlName="yearOfPublication"
    name="yearOfPublication"
    type="date"
  />

-->


  <table class="createProdoctTable">
    <tr>
      <td colspan="2">Create a product</td>
    </tr>
    <tr>
      <td>Article Number:</td>
      <td>
        <input formControlName="articleNumber" name="articleNumber" [(ngModel)]="product.articleNumber" />
      </td>
    </tr>
    <tr>
      <td>Name:</td>
      <td>
        <input formControlName="name" name="name" [(ngModel)]="product.name" />
      </td>
    </tr>

    <tr>
      <td>Year of Publication:</td>
      <td>
        <input
          formControlName="yearOfPublication"
          name="yearOfPublication"
          type="date"
          [(ngModel)]="product.yearOfPublication"
        />
      </td>
    </tr>
    <tr>
      <td>Price:</td>
      <td><input formControlName="price" name="price" [(ngModel)]="product.price" /></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button type="submit"  [disabled]="!createProductForm.valid" (click)="onSave()">Save</button>
      </td>
    </tr>
  </table>
</form>
<div *ngIf="isSpinnerActivated">
  <app-progress-spinner-overview></app-progress-spinner-overview>
</div>
