.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(190, 190, 190, 0.7);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.progress-saving-message{
  padding-top: 20px;
  font-size: large;
}